<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">
	<property name="LOG_HOME" value="log" />
	<property name="PROJECT_NAME" value="GATEWAY" />
	<property name="BUSINESS_LOGGER_NAME" value="com.sinosun.bdp" />
	<property name="BUSINESS_LOGGER_FILE" value="bdp_gateway" />
	<property name="OTHER_LOGGER_FILE" value="bdp_gateway_other" />
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>1 %d{yyyy-MM-dd'T'HH:mm:ss.SSS} ${PROJECT_NAME} %file:%line %thread %level - b:%X{bid:-null} - %m%n</pattern>
		</encoder>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${BUSINESS_LOGGER_FILE}.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<MaxHistory>60</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<pattern>1 %d{yyyy-MM-dd'T'HH:mm:ss.SSS} ${PROJECT_NAME} %file:%line %thread %level - b:%X{bid:-null} - %m%n</pattern>
		</encoder>
	</appender>
	

	<logger name="org.apache.commons.digester3" level="ERROR" />
	<logger name="org.apache.commons.beanutils" level="ERROR" />
	<logger name="org.apache.zookeeper" level="ERROR" />

    <root level="DEBUG">
        <appender-ref ref="FILE" />
    </root>
</configuration>